.background-img {
    background-image: url('img/squiiish.JPG');
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.box {
    position: relative;
    height: 10em;
    width: 10em;
    background-color: red;
    border: 2px solid black;
    top: 5%;
    left: 50%;
}

.box p {
    font-size: 8em;
}

.box-2 {
    position: relative;
    height: 10em;
    width: 10em;
    background-color: blue;
    border: 2px solid black;
    top: 20%;
    left: 80%;
}